<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.vkus.alexandrzanko.mobile_6vkusov">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="by.vkus.alexandrzanko.mobile_6vkusov.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.MainActivityV2"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.AuthActivities.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.AuthActivities.LoginActivityV2"
            android:screenOrientation="portrait" />
        <activity
            android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.AuthActivities.RememberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.CategoriesActivityV2"
            android:screenOrientation="portrait" />
        <activity
            android:name="by.vkus.alexandrzanko.mobile_6vkusov.Trash.RestaurantsCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.Restaurant.RestaurantActivityV2"
            android:screenOrientation="portrait" />
        <activity
            android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.Restaurant.ProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.BasketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.CheckOutActivity"
            android:parentActivityName="by.vkus.alexandrzanko.mobile_6vkusov.Activities.CategoriesActivityV2"
            android:screenOrientation="portrait" />
        <activity
            android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.ProfileActivities.ProfileActivityV2"
            android:screenOrientation="portrait" />
        <activity
            android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.ProfileActivities.UserCallFriendsActivityV2"
            android:screenOrientation="portrait" />
        <activity
            android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.ProfileActivities.ChangeUserSettingsActivityV2"
            android:screenOrientation="portrait" />
        <activity android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.OurPintsV2"
            android:screenOrientation="portrait"/>
        <activity android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.InfoActivityV2"
            android:screenOrientation="portrait"/>
        <activity android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.FreeFoodActivityV2"
            android:screenOrientation="portrait"/>
        <activity android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.Restaurant.ProductsActivityV2"
            android:screenOrientation="portrait"/>
        <activity android:name="by.vkus.alexandrzanko.mobile_6vkusov.Activities.Restaurant.RestaurantsActivityV2"
            android:screenOrientation="portrait"/>
    </application>

</manifest>